name: Lints

on:
  pull_request:
    branches:
      - "CSP-Q3-2025"

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

# ────────────────── 1. Warm‑up build ──────────────────
jobs:
  fmt:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Cache everything
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db
            ~/.rustup
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2025-04-05-aarch64-apple-darwin
          override: true
          profile: default
          default: true
          components: rustfmt, clippy

      - name: Install SP1
        uses: ./.github/actions/install-sp1
        with:
          token: ${{ secrets.GH_PAT }}

      - name: Install Powdr
        uses: ./.github/actions/install-powdr

      - name: Install nightly-2024-08-01 with rust-src for Powdr
        run: rustup toolchain install nightly-2024-08-01 --component rust-src
      
      - name: Install Nargo
        uses: ./.github/actions/install-nargo
      
      - name: Build full workspace
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }} # for ACIR (required by protoc-prebuilt)
        run: cargo build --workspace
      
      - name: Format
        run: cargo fmt --all -- --check

      - name: Clippy
        run: cargo clippy --workspace --all-targets --all-features
